cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"
hotkey-overlay {
    skip-at-startup
}
overview {
    workspace-shadow {
        off
    }
}
input {
    keyboard {
        repeat-delay 150
        repeat-rate 50
        numlock
    }
    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.2
 // disabled-on-external-mouse
    }
    focus-follows-mouse max-scroll-amount="0%"
}
output "eDP-1" {
    variable-refresh-rate on-demand=true
    mode "1920x1080@144.000"
    scale 1.15
    transform "normal"
    position x=0 y=0
}
layout {
    gaps 16
    background-color "transparent"
    //center-focused-column "always"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        width 4
        active-color "#7aa2f7"
        inactive-color "#505050"
    }
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id="imv$"
    open-floating true
}
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    shadow {
        off
        draw-behind-window true
        softness 30
        spread 10
        offset x=0 y=5
        color "#0007"
    }
}
environment {
    DISPLAY ":0"
    MOZ_ENABLE_WAYLAND "1"
}
spawn-at-startup "fcitx5"
spawn-at-startup "awww-daemon"
layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}
binds {
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86AudioRaiseVolume {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"
    }
    XF86AudioLowerVolume {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"
    }
    XF86AudioMute {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "set" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "set" "10%-"
    }
    Mod+Backspace hotkey-overlay-title="Lockscreen" {
        spawn "swaylock"
    }
    Mod+Space hotkey-overlay-title="Run an Application" {
        spawn "tofi-drun" "--drun-launch=true"
    }
    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" {
        spawn "ghostty"
    }
    Mod+Q {
        close-window
    }
    Mod+W repeat=false {
        toggle-overview
    }
    Mod+Shift+W {
        toggle-window-floating
    }
    Alt+J {
        focus-window-down
    }
    Alt+K {
        focus-window-up
    }
    Mod+Ctrl+H {
        consume-or-expel-window-left
    }
    Mod+Ctrl+L {
        consume-or-expel-window-right
    }
    Mod+J {
        focus-workspace-down
    }
    Mod+K {
        focus-workspace-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+H {
        focus-column-left
    }
    Mod+Ctrl+J {
        move-column-to-workspace-down
    }
    Mod+Ctrl+K {
        move-column-to-workspace-up
    }
    Mod+Alt+J {
        move-workspace-down
    }
    Mod+Alt+K {
        move-workspace-up
    }
    Mod+F {
        maximize-column
    }
    Mod+Shift+F {
        fullscreen-window
    }
    Mod+Shift+H {
        set-column-width "-10%"
    }
    Mod+Shift+L {
        set-column-width "+10%"
    }
    Mod+Shift+K {
        set-window-height "-10%"
    }
    Mod+Shift+J {
        set-window-height "+10%"
    }
    Mod+Shift+S {
        screenshot
    }
    Mod+Alt+S {
        screenshot-screen
    }
    Mod+Ctrl+S {
        screenshot-window
    }
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
        move-column-to-workspace-up
    }
}
